body 
{
  
  font-family: 'Times New Roman', serif;
  margin: 0;
  background-color: #7B3F00;
  background: linear-gradient(to left, #9900ff 0%, #ffff00 100%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}
h2{
	color:black;
}
header 
{
  background: linear-gradient(to bottom, #ff66ff 0%, #00ffff 100%);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: rgb(81, 25, 25);
  font-size: 28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-family: bebas-neue, sans-serif; font-style: normal; font-weight: 400;
}
#left
{    
 float: left;  
}  
nav 
{
  display: flex;
  justify-content: right;
}
nav ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li 
{
  display: inline-block;
  margin: 0 10px;
}
nav a 
{
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
nav a:hover 
{
  background-color: #333;
  color: #fff;
}
section 
{
  margin: 50px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;  
}
section h2 
{
  margin-top: 0;
  
}
.photos 
{
  display: block;
  margin: 20px auto;
  max-width: 100%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
.photos:hover 
{
  transform: scale(1.1);
  box-shadow: -5px -5px -10px rgba(0,0,0,0.3);
}
footer 
{
  color: #000000;
  padding: 40px;
  text-align: center ;
  background-image: url("bgform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer-logo 
{
  display:contents;
  margin: auto;;
  float: right;

}
.contact
{
	float: right;
	display: block;
}
.company-info p {
  text-align: center;
  margin: 20px;
	color:black;
}
.contact-form 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.contact-form label,
.contact-form input,
.contact-form button 
{
  display: block;
  margin: 5px;
}

.contact-form label {
  width: 100%;
  
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  text-align:center;
}

.contact-form input {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.contact-form button {
  background-color: rgb(0, 0, 0);
  border: none;
  color: #ff0202;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover 
{
  background-color: #333;
  color: #fff;
}
.copyright       
{
  text-align: right;
  padding-bottom: 5px;
}